@model IEnumerable<ProyectoDBP_TIENDA.Models.TbDetalleFactura>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/css/Tablas.css" />
</head>
<html>
<body>
    <h1>LISTADO DE FACTURAS REGISTRADAS</h1>
    <h2>
        Buscar<input class="form-control" id="myInput" type="text" placeholder="Buscar..." />
        <br />
    </h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td scope="col">Id Factura</td>
                <td scope="col">Codigo Usuario</td>
                <td scope="col">Id Producto</td>
                <td scope="col">Cantidad de Venta</td>
                <td scope="col">Precio de Venta</td>
                <td scope="col">Editar</td>
                <td scope="col">Eliminar</td>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdFac</td>
                    <td>@item.IdUsu</td>
                    <td>@item.IdPro</td>
                    <td>@item.CanVen</td>
                    <td>@item.PreVen</td>
                    <td><a asp-action="Edit" asp-route-id="@item.IdFac" class="btn btn-primary m-2">Editar</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.IdFac" class="btn btn-primary m-2">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>