@model IEnumerable<EntregaSemana8.Models.Carrito>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<body>
    <h1>Productos Agregados al Carrito</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <td scope="col">Codigo</td>
                <td scope="col">Descripcion</td>
                <td scope="col">Precio</td>
                <td scope="col">Stock</td>
                <td scope="col">Cantidad</td>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdPro</td>
                    <td>@item.DesPro</td>
                    <td>@item.PrePro</td>
                    <td>@item.StkAct</td>
                    <td scope="col"><input type="number" id="cant @i" value="" placeholder="cantidad" runat="server" /></td>
                    <td scope="col"><a onclick="calcular(@i)">Pagar</a></td> <!--Eliminar posiblemente en video 2-3 -->
                </tr>
            }
        </tbody>
    </table>
</body>
</html>