@model IEnumerable<ProyectoDBP_TIENDA.Models.TbProducto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>TIENDITA UCHILL</title>
    @*<link rel="stylesheet" href="HomeStyle.css">*@
    <link rel="stylesheet" type="text/css" href="~/css/ProductoPrincipal.css" >
    
</head>
<body>
    <header>

        <div class="logo">
            <img src="/css/uchillLogo.jpeg" width="150">
        </div>

        

        <nav>
            <div class="menu">
                <h1 class="display-4 fw-bolder">TIENDITA UCHILL</h1>
                <p class="lead fw-normal">Disfruta mientras luchas contra el ciclo!</p>
                <a href="https://w.app/LPWehf">
                    <img src="/css/WhatsApp.png" width="40" height="40" />
                </a>
                <form class="carrito" action="/TemporalVenta/VerCarrito" method="get">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Carrito
                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                    </button>
                </form>

            </div>
        </nav>
    </header>

    <div class="contenido" id="myTable">

    <!-- Header-->
                
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts1.js"></script>

        <h2>
            Buscar<input class="form-control" id="myInput" type="text" placeholder="Search..." />
        </h2>

        <div class="card-deck" id="myTable">
            @foreach (var item in Model)
            {
                <div class="card m-4" style="min-width:auto;max-width:30.5%">
                    <div class="card-header">
                        <h3>Descripcion: @item.DesPro</h3>
                        <h3>Precio: @item.PrePro</h3>
                        <h3>Stock: @item.StkAct</h3>

                        @{
                            // Construir la ruta de la imagen en la carpeta wwwroot/img
                            var imagePath = $"~/img/{item.DesPro}.jpg";
                        }
                        <img src="@Url.Content(imagePath)" alt="@item.DesPro" width="120" />
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Comprar" asp-route-id="@item.IdPro" class="btn btn-primary m-2">Comprar</a>
                    </div>
                </div>
            }
        </div>

    </div>
</body>

<footer class ="border-top footer text-muted">
    <div class="footer">
        <a href="/Nosotros">Nosotros</a>
        <a href="/TerminosYCondiciones">Términos y Condiciones</a>
        <a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62414.731558385116!2d-77.02976648905593!3d-12.117576719779555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6fadcaf64a7%3A0x91a8066253ed53de!2sUniversidad%20San%20Ignacio%20de%20Loyola%20(USIL)!5e0!3m2!1ses-419!2spe!4v1699583936512!5m2!1ses-419!2spe" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </a>
    </div>
</footer>
</html>


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>